<!DOCTYPE html>
<html lang="es" class="bg-gray-900">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="_csrf" content="${_csrf.token}"/>
<meta name="_csrf_header" content="${_csrf.headerName}"/>
<title>David - TFG</title>
<meta name="csrf-token" content="{{ csrf_token() }}">
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.14.3/dist/full.css"
	rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" th:href="@{/css/output.css}">
</head>

<body class="w-full h-3/6">
	<!-- USUARIO -->
	<!-- The button to open modal -->
   <input type="hidden"
          name="${_csrf.parameterName}"
          value="${_csrf.token}"/>
	<div class="navbar bg-base-300">
		<div class="flex-1 px-2 lg:flex-none">
		<a class="text-lg font-bold pl-5 pr-10" th:href="@{/index}">Inicio </a>
			<a class="text-lg font-bold">Usuario logueado: </a>
		</div>
		<div class="flex justify-start flex-1 px-2">
			<div class="flex items-stretch">
				<div class="dropdown dropdown-end">

					<label tabindex="0"
						class="text-lg font-bold stat place-items-center text-white border-gray-600 hover:bg-purple-500 hover:border-gray-700 focus:ring-gray-700"
						th:text="${session.usuario.nombre}"></label>
					<ul tabindex="0"
						class="menu dropdown-content p-2 shadow bg-base-100 rounded-box w-52 mt-4">
						<!-- The button to open modal -->
						<a class="btn modal-button" th:href="@{/perfil/{id}(id=${session.usuario.id_usuario})}">Ver perfil</a>
						<a class="btn modal-button" th:href="@{/logout}">LogOut</a>
					</ul>

				</div>

			</div>
		</div>
	</div>

	<!-- BUSCADOR -->
	<img id="logo" class="object-cover h-48 w-96 mx-auto mt-48"
		src="/img/logo_prev_ui.png" />
		<div id="versionActual" class="flex w-fit items-center justify-center mx-auto badge badge-success badge-outline"></div>
	<main
		class="flex flex-row my-10 items-center justify-center flex flex-around">
		<div id='data' class="flex rounded bg-white w-[30rem]" x-data="{ search: '' }">
			<input type="search" id="buscador"
				class="w-full border-none bg-transparent px-4 py-1 text-gray-900 outline-none focus:outline-none"
				placeholder="Nombre de invocador..." x-model="search" />
			<button type="button" id="btnBuscar"
				class="m-2 rounded px-4 px-4 py-2 font-semibold text-gray-100"
				:class="(search.length > 0) ? 'bg-purple-500' : 'bg-gray-500 cursor-not-allowed'"
				:disabled="search.length == 0">Buscar</button>
		</div>
	</main>
		<div id="infoCuenta" class="flex w-fit items-center justify-center px-2 py-1 text-xl font-bold leading-none text-indigo-100 bg-indigo-700 rounded mx-auto mt-10 invisible">Informacion principal</div>
	<div>
		<!-- DATOS CUENTA BUSCADA -->
		<div class="flex flex-row w-2/2 items-center justify-center">
			<div id="datosCuenta" class="max-w-sm h-64 w-3/4 bg-white rounded-lg border border-gray-200 shadow-md bg-gray-800 border-gray-700 invisible ">
				<div class="flex justify-end px-2 pt-4"></div>
				<div class="flex flex-col items-center pb-10">
					<img id="imgPerfil" class="mb-3 w-24 h-24 rounded-full shadow-lg"
						src="" alt="Imagen cuenta">
					<h5 class="mb-1 text-xl font-medium text-white"
						id="cuentaEncontrada"></h5>
					<span class="text-sm text-gray-400 mb-3"
						id="nivelCuenta"></span>
					<div class="stats shadow">
						<a id="ver"
							class="stat place-items-center text-white border-gray-600 hover:bg-purple-500 hover:border-gray-700 focus:ring-gray-700">Ver</a>
					
					<form class="cuenta" id="formAddCuenta" th:action="@{/index/guardarCuenta}" method="POST">
					<a id="addCuenta" type="submit"
							class="stat place-items-center text-white border-gray-600 hover:bg-purple-500 hover:border-gray-700 focus:ring-gray-700">Añadir</a>
					</form>
					</div>
				</div>
			</div>

		</div>
		<div class="flex flex-row w-2/2 items-center justify-center">
			<!-- DATOS LP CUENTA -->
			<div class="max-w-sm h-[20rem] w-3/4 bg-white rounded-lg border border-gray-200 shadow-md bg-gray-800 border-gray-700 invisible" id="infoLiga">
				<div class="flex justify-end px-2 pt-4 mx-auto"></div>
				<div class="flex flex-col items-center pb-20 mx-auto">
					<img id="logoDivision"
						class="mb-3 w-24 h-24 rounded-full shadow-lg" src=""
						alt="logo division"> <span
						class="text-xl text-white" id="tier"></span>
					<span class="text-m text-white" id="rank"></span>
					<span class="text-m text-white" id="lps"></span>
					<span class="text-m text-white" id="totalPartidas"></span>
					<span class="text-m text-gray-400" id="wins"></span>
					<span class="text-m text-gray-400" id="losses"></span>
					<span class="text-m text-gray-400" id="winrate"></span>
					
				</div>
			</div>
		</div>
		<div id="spanMasJugados" class="flex w-fit items-center justify-center px-2 py-1 text-xl font-bold leading-none text-indigo-100 bg-indigo-700 rounded mx-auto mt-10 invisible">Campeones
			mas jugados</div>

<div class="flex mx-auto max-w-sm justify-center align-center">
<div id="masJugados" class="max-w-6xl w-2/2 my-auto flex flex-wrap bg-white rounded-lg border border-gray-200 shadow-md bg-gray-800 border-gray-700 invisible">
  <div class="stat">
    <div class="stat-value" id="nombrePj1"></div>
    <div class="stat-desc text-secondary text-lg" id="lorePj1"></div>
    <div class="stat-title text-info text-lg" id="puntosPj1"></div>
    <div class="stat-desc text-warning text-lg" id="tagsPj1"></div>
    
        <div class="stat-figure text-secondary">
      <div class="avatar">
        <div class="w-20 rounded-full">
          <img id="masJugado1" src="#" />
        </div>
      </div>
    </div>
  </div>
  <div class="stat">
    <div class="stat-figure text-secondary">
      <div class="avatar">
        <div class="w-20 rounded-full">
          <img id="masJugado2" src="#" />
        </div>
      </div>
    </div>
    <div class="stat-value" id="nombrePj2"></div>
    <div class="stat-desc text-secondary text-lg" id="lorePj2"></div>
    <div class="stat-title text-info text-lg" id="puntosPj2"></div>
    <div class="stat-desc text-warning text-lg" id="tagsPj2"></div>
    
  </div>
  <div class="stat">
    <div class="stat-figure text-secondary">
      <div class="avatar">
        <div class="w-20 rounded-full">
          <img id="masJugado3" src="#" />
        </div>
      </div>
    </div>
    <div class="stat-value" id="nombrePj3"></div>
    <div class="stat-desc text-secondary text-lg" id="lorePj3"></div>
    <div class="stat-title text-info text-lg" id="puntosPj3"></div>
    <div class="stat-desc text-warning text-lg" id="tagsPj3"></div>
    
  </div>
 </div>
  </div>
		<!-- TABLA -->
		<div id="spanUltimasPartidas" class="flex w-fit items-center justify-center px-2 py-1 text-xl font-bold leading-none text-indigo-100 bg-indigo-700 rounded mx-auto mt-10 invisible">Ultimas 4 partidas</div>
		<div id="ultimasPartidas" class="overflow-x-auto w-3/2 mb-10 invisible">
			<table class="table table-zebra mx-auto">
				<!-- head -->
				<thead>
					<tr>
						<th>Campeon</th>
						<th>Modo</th>
						<th>KDA</th>
						<th>Rol</th>
						<th>Victoria</th>
						<th>P.Vision</th>
						<th>Duracion</th>
						<th>Build</th>
					</tr>
				</thead>
				<tbody>
					<!-- row 1 -->
					<tr>
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div class="mask mask-squircle w-12 h-12">
										<img id="avatar1" src="" alt="Avatar" />
									</div>
								</div>
							</div>
						</td>
						<td id="modoPartida1"></td>
						<td id="kda1"></td>
						<td id="rol1"></td>
						<td id="resultadoPartida1"></td>
						<td id="vision1"></td>
						<td id="duracion1"></td>
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div id="p1divitem0" class="mask mask-squircle w-10 h-10">
										<img id="p1item0" src="" alt="item0" />
									</div>
									<div id="p1divitem1" class="mask mask-squircle w-10 h-10">
										<img id="p1item1" src="" alt="item1" />
									</div>
									<div id="p1divitem2" class="mask mask-squircle w-10 h-10">
										<img id="p1item2" src="" alt="item2" />
									</div>
									<div id="p1divitem3" class="mask mask-squircle w-10 h-10">
										<img id="p1item3" src="" alt="item3" />
									</div>
									<div id="p1divitem4" class="mask mask-squircle w-10 h-10">
										<img id="p1item4" src="" alt="item4" />
									</div>
									<div id="p1divitem5" class="mask mask-squircle w-10 h-10">
										<img id="p1item5" src="" alt="item5" />
									</div>
								</div>
							</div>
						</td>
					</tr>
					<!-- row 2 -->
					<tr>
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div class="mask mask-squircle w-12 h-12">
										<img id="avatar2" src="" alt="Avatar" />
									</div>
								</div>
							</div>
						</td>
						<td id="modoPartida2"></td>
						<td id="kda2"></td>
						<td id="rol2"></td>
						<td id="resultadoPartida2"></td>
						<td id="vision2"></td>
						<td id="duracion2"></td>
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div id="p2divitem0" class="mask mask-squircle w-10 h-10">
										<img id="p2item0" src="" alt="item0" />
									</div>
									<div id="p2divitem1" class="mask mask-squircle w-10 h-10">
										<img id="p2item1" src="" alt="item1" />
									</div>
									<div id="p2divitem2" class="mask mask-squircle w-10 h-10">
										<img id="p2item2" src="" alt="item2" />
									</div>
									<div id="p2divitem3" class="mask mask-squircle w-10 h-10">
										<img id="p2item3" src="" alt="item3" />
									</div>
									<div id="p2divitem4" class="mask mask-squircle w-10 h-10">
										<img id="p2item4" src="" alt="item4" />
									</div>
									<div id="p2divitem5" class="mask mask-squircle w-10 h-10">
										<img id="p2item5" src="" alt="item5" />
									</div>
								</div>
							</div>
						</td>
					</tr>
					<!-- row 3 -->
					<tr>
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div class="mask mask-squircle w-12 h-12">
										<img id="avatar3" src="" alt="Avatar" />
									</div>
								</div>
							</div>
						</td>
						<td id="modoPartida3"></td>
						<td id="kda3"></td>
						<td id="rol3"></td>
						<td id="resultadoPartida3"></td>
						<td id="vision3"></td>
						<td id="duracion3"></td>
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div id="p3divitem0" class="mask mask-squircle w-10 h-10">
										<img id="p3item0" src="" alt="item0" />
									</div>
									<div id="p3divitem1" class="mask mask-squircle w-10 h-10">
										<img id="p3item1" src="" alt="item1" />
									</div>
									<div id="p3divitem2" class="mask mask-squircle w-10 h-10">
										<img id="p3item2" src="" alt="item2" />
									</div>
									<div id="p3divitem3" class="mask mask-squircle w-10 h-10">
										<img id="p3item3" src="" alt="item3" />
									</div>
									<div id="p3divitem4" class="mask mask-squircle w-10 h-10">
										<img id="p3item4" src="" alt="item4" />
									</div>
									<div id="p3divitem5" class="mask mask-squircle w-10 h-10">
										<img id="p3item5" src="" alt="item5" />
									</div>
								</div>
							</div>
						</td>
					</tr>
					<!-- row 4 -->
					<tr>
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div class="mask mask-squircle w-12 h-12">
										<img id="avatar4" src="" alt="Avatar" />
									</div>
								</div>
							</div>
						</td>
						<td id="modoPartida4"></td>
						<td id="kda4"></td>
						<td id="rol4"></td>
						<td id="resultadoPartida4"></td>
						<td id="vision4"></td>
						<td id="duracion4"></td>
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div id="p4divitem0" class="mask mask-squircle w-10 h-10">
										<img id="item0" src="" alt="item0" />
									</div>
									<div id="p4divitem1" class="mask mask-squircle w-10 h-10">
										<img id="item1" src="" alt="item1" />
									</div>
									<div id="p4divitem2" class="mask mask-squircle w-10 h-10">
										<img id="item2" src="" alt="item2" />
									</div>
									<div id="p4divitem3" class="mask mask-squircle w-10 h-10">
										<img id="item3" src="" alt="item3" />
									</div>
									<div id="p4divitem4" class="mask mask-squircle w-10 h-10">
										<img id="item4" src="" alt="item4" />
									</div>
									<div id="p4divitem5" class="mask mask-squircle w-10 h-10">
										<img id="item5" src="" alt="item5" />
									</div>
								</div>
							</div>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
	<!-- CUENTAS -->

	<!-- MAS JUGADOS -->

	<!-- component -->

	<script th:src="@{js/ajax.js}"></script>
</body>
</html>