<!DOCTYPE html>
<html lang="es" class="bg-gray-900">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="_csrf" content="${_csrf.token}"/>
<meta name="_csrf_header" content="${_csrf.headerName}"/>
<title>David - TFG</title>
<meta name="csrf-token" content="{{ csrf_token() }}">
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.14.3/dist/full.css"
	rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" th:href="@{/css/output.css}">
</head>

<body class="w-full h-3/6">
	<!-- USUARIO -->
	<!-- The button to open modal -->
   <input type="hidden"
          name="${_csrf.parameterName}"
          value="${_csrf.token}"/>
	<div class="navbar bg-base-300 rounded-box">
		<div class="flex-1 px-2 lg:flex-none">
		<a class="text-lg font-bold pl-5 pr-10" th:href="@{/index}">Inicio </a>
			<a class="text-lg font-bold">Usuario logueado: </a>
		</div>
		<div class="flex justify-start flex-1 px-2">
			<div class="flex items-stretch">
				<div class="dropdown dropdown-end">

					<label tabindex="0"
						class="text-lg font-bold stat place-items-center dark:text-white dark:border-gray-600 dark:hover:bg-purple-500 dark:hover:border-gray-700 dark:focus:ring-gray-700"
						th:text="${session.usuario.nombre}"></label>
					<ul tabindex="0"
						class="menu dropdown-content p-2 shadow bg-base-100 rounded-box w-52 mt-4">
						<!-- The button to open modal -->
						<a class="btn modal-button" th:href="@{/perfil/{id}(id=${session.usuario.id_usuario})}">Ver perfil</a>
						<a class="btn modal-button" th:href="@{/logout}">LogOut</a>
					</ul>

				</div>

			</div>
		</div>
	</div>

	<!-- BUSCADOR -->
	<img id="logo" class="object-cover h-48 w-96 mx-auto mt-48"
		src="/img/logo_prev_ui.png" />

	<main
		class="flex flex-row my-10 items-center justify-center flex flex-around">
		<div class="flex rounded bg-white w-[30rem]" x-data="{ search: '' }">
			<input type="search" id="buscador"
				class="w-full border-none bg-transparent px-4 py-1 text-gray-900 outline-none focus:outline-none"
				placeholder="Nombre de invocador..." x-model="search" />
			<button type="button" id="btnBuscar"
				class="m-2 rounded px-4 px-4 py-2 font-semibold text-gray-100"
				:class="(search.length > 0) ? 'bg-purple-500' : 'bg-gray-500 cursor-not-allowed'"
				:disabled="search.length == 0">Buscar</button>
		</div>
	</main>

	<div>
		<!-- DATOS CUENTA BUSCADA -->
		<div class="flex flex-row w-2/2 items-center justify-center">
			<div id="datosCuenta" class="max-w-sm h-64 w-3/4 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 invisible ">
				<div class="flex justify-end px-2 pt-4"></div>
				<div class="flex flex-col items-center pb-10">
					<img id="imgPerfil" class="mb-3 w-24 h-24 rounded-full shadow-lg"
						src="" alt="Imagen cuenta">
					<h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"
						id="cuentaEncontrada"></h5>
					<span class="text-sm text-gray-500 dark:text-gray-400 mb-3"
						id="nivelCuenta"></span>
					<div class="stats shadow">
						<a id="ver"
							class="stat place-items-center dark:text-white dark:border-gray-600 dark:hover:bg-purple-500 dark:hover:border-gray-700 dark:focus:ring-gray-700">Ver</a>
					
					<form class="cuenta" id="formAddCuenta" th:action="@{/index/guardarCuenta}" method="POST">
					<a id="addCuenta" type="submit"
							class="stat place-items-center dark:text-white dark:border-gray-600 dark:hover:bg-purple-500 dark:hover:border-gray-700 dark:focus:ring-gray-700">Añadir</a>
					</form>
					</div>
				</div>
			</div>

		</div>
		<div class="flex flex-row w-2/2 items-center justify-center">
			<!-- DATOS LP CUENTA -->
			<div class="max-w-sm h-64 w-3/4 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 invisible" id="infoLiga">
				<div class="flex justify-end px-2 pt-4 mx-auto"></div>
				<div class="flex flex-col items-center pb-10 mx-auto">
					<img id="logoDivision"
						class="mb-3 w-24 h-24 rounded-full shadow-lg" src=""
						alt="logo division"> <span
						class="text-sm text-gray-500 dark:text-gray-400" id="tier"></span>
					<span class="text-sm text-gray-500 dark:text-gray-400" id="rank"></span>
					<span class="text-sm text-gray-500 dark:text-gray-400" id="lps"></span>
					<span class="text-sm text-gray-500 dark:text-gray-400" id="wins"></span>
					<span class="text-sm text-gray-500 dark:text-gray-400" id="losses"></span>
				</div>
			</div>
		</div>
		<span id="spanMasJugados" class="flex justify-center items-center text-center pt-12 invisible">Campeones
			mas jugados</span>

		<div class="flex mx-auto w-2/2 justify-center align-center">
			<div id="masJugados"
				class="max-w-6xl w-2/2 my-auto flex flex-wrap bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 invisible">
				<figure>
					<img class="w-24 h-24" id="masJugado1" src="#" alt='mas jugados' />
					<span class="text-sm text-gray-500 dark:text-gray-400"
						id="puntosPj1"></span>
				</figure>
				<div class="card-body">
					<h2 class="card-title" id="nombrePj1"></h2>
					<p id="lorePj1"></p>
					<p id="tagsPj1"></p>
				</div>
				<figure>
					<img class="w-24 h-24" id="masJugado2" src="#" alt='mas jugados' />
					<span class="text-sm text-gray-500 dark:text-gray-400"
						id="puntosPj2"></span>
				</figure>
				<div class="card-body">
					<h2 class="card-title" id="nombrePj2"></h2>
					<p id="lorePj2"></p>
					<p id="tagsPj2"></p>
				</div>

				<figure>
					<img class="w-24 h-24" id="masJugado3" src="#" alt='mas jugados' />
					<span class="text-sm text-gray-500 dark:text-gray-400"
						id="puntosPj3"></span>
				</figure>
				<div class="card-body">
					<h2 class="card-title" id="nombrePj3"></h2>
					<p id="lorePj3"></p>
					<p id="tagsPj3"></p>
				</div>

			</div>
		</div>




		<!-- TABLA -->
		<span id="spanUltimasPartidas" class="flex justify-center pt-12 invisible">Ultimas 4 partidas</span>
		<div id="ultimasPartidas" class="overflow-x-auto w-3/2 mb-10 invisible">
			<table class="table mx-auto">
				<!-- head -->
				<thead>
					<tr>
						<th>Campeon</th>
						<th>Modo</th>
						<th>KDA</th>
						<th>Victoria</th>
						<th>Build</th>
					</tr>
				</thead>
				<tbody>
					<!-- row 1 -->
					<tr>
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div class="mask mask-squircle w-12 h-12">
										<img id="avatar1" src="" alt="Avatar" />
									</div>
								</div>
							</div>
						</td>
						<td id="modoPartida1"></td>
						<td id="kda1"></td>
						<td id="resultadoPartida1"></td>
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div class="mask mask-squircle w-10 h-10">
										<img id="p1item0" src="" alt="item0" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="p1item1" src="" alt="item1" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="p1item2" src="" alt="item2" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="p1item3" src="" alt="item3" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="p1item4" src="" alt="item4" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="p1item5" src="" alt="item5" />
									</div>
								</div>
							</div>
						</td>
					</tr>
					<!-- row 2 -->
					<tr>
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div class="mask mask-squircle w-12 h-12">
										<img id="avatar2" src="" alt="Avatar" />
									</div>
								</div>
							</div>
						</td>
						<td id="modoPartida2"></td>
						<td id="kda2"></td>
						<td id="resultadoPartida2"></td>
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div class="mask mask-squircle w-10 h-10">
										<img id="p2item0" src="" alt="item0" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="p2item1" src="" alt="item1" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="p2item2" src="" alt="item2" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="p2item3" src="" alt="item3" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="p2item4" src="" alt="item4" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="p2item5" src="" alt="item5" />
									</div>
								</div>
							</div>
						</td>
					</tr>
					<!-- row 3 -->
					<tr>
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div class="mask mask-squircle w-12 h-12">
										<img id="avatar3" src="" alt="Avatar" />
									</div>
								</div>
							</div>
						</td>
						<td id="modoPartida3"></td>
						<td id="kda3"></td>
						<td id="resultadoPartida3"></td>
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div class="mask mask-squircle w-10 h-10">
										<img id="p3item0" src="" alt="item0" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="p3item1" src="" alt="item1" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="p3item2" src="" alt="item2" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="p3item3" src="" alt="item3" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="p3item4" src="" alt="item4" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="p3item5" src="" alt="item5" />
									</div>
								</div>
							</div>
						</td>
					</tr>
					<!-- row 4 -->
					<tr>
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div class="mask mask-squircle w-12 h-12">
										<img id="avatar4" src="" alt="Avatar" />
									</div>
								</div>
							</div>
						</td>
						<td id="modoPartida4"></td>
						<td id="kda4"></td>
						<td id="resultadoPartida4"></td>
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div class="mask mask-squircle w-10 h-10">
										<img id="item0" src="" alt="item0" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="item1" src="" alt="item1" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="item2" src="" alt="item2" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="item3" src="" alt="item3" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="item4" src="" alt="item4" />
									</div>
									<div class="mask mask-squircle w-10 h-10">
										<img id="item5" src="" alt="item5" />
									</div>
								</div>
							</div>
						</td>
					</tr>

				</tbody>
			</table>
		</div>

	</div>

	<!-- CUENTAS -->

	<!-- MAS JUGADOS -->

	<!-- component -->

	<script th:src="@{js/ajax.js}"></script>
</body>
</html>