<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - DavidTFG</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
</head>
<body>
<main class="mx-auto flex min-h-screen w-full items-center justify-center bg-gray-900 text-white">
    <form role="form" th:action="@{/registro}" method="POST">
    <section class="flex w-[30rem] flex-col space-y-10">
      <div class="text-center text-4xl font-medium">Registro</div>
      <div class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
        <input type="text" placeholder="Nombre de usuario" name="usuario" class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"required/>
      </div>
      <div class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
        <input type="password" placeholder="Password" name="password" class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"required/>
      </div>
      <div class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
        <input type="email" placeholder="Email" name="email" class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"required />
      </div>
      <div class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
        <input type="date" name="fechaNacimiento" class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"required/>
      </div>
      <button class="transform rounded-sm bg-indigo-600 py-2 font-bold duration-300 hover:bg-indigo-400" type="submit" >
        Registrarse
      </button>
    </section>
  </form>
  </main>
</body>
</html>